extends layout

block content
    p index page contents here
    ul
        li
            a(href='/auth/twitter') Login with Twitter
        li
            a(href='/auth/facebook') Login with Facebook
        li
            a(href='/auth/github') Login with Github
        li
            a(href='/auth/google') Login with Google
        li
            a(href='/auth/basic') Basic Login