!!! 5
html
  head
    title= title
  body
    section#wrapper!=body
        block content
    footer
        H3(align='center') PassportJS based authentication
        P This example covers various possible scenarios to login a user in a nodejs based application through passportjs.